#main-page-welcome-text{
    font-size: 18px;
}

#main-page-legal-info{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 14px;
    background-color: #202020;
}

#main-page-info{
    font-size: 18px;
    margin-bottom: 1em;
}

#main-page-info-list{
    list-style-position: inside;
    margin-top: 0px;
    margin-bottom: 0px;
}